<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Computer Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
    <h1>Design your computer!</h1>
    <img th:src="@{/images/storelogo.png}"/>

    <form method="POST" th:object="${computer}">

    <span class="validationError"
          th:if="${#fields.hasErrors('hardwares')}"
          th:errors="*{hardwares}">Hardware Error</span>

    <div class="grid">
      <div class="hardware-group" id="cases">
      <h3>Designate your case:</h3>
      <div th:each="hardware : ${case}">
        <input th:field="*{hardwares}" type="checkbox"
               th:value="${hardware.id}"/>
        <span th:text="${hardware.name}">HARDWARE</span><br/>
      </div>
      </div>

	  <div class="hardware-group" id="cpu">
      <h3>Pick your cpu:</h3>
      <div th:each="hardware : ${cpu}">
        <input th:field="*{hardwares}" type="checkbox"
               th:value="${hardware.id}"/>
        <span th:text="${hardware.name}">HARDWARE</span><br/>
      </div>
      </div>

	  <div class="hardware-group" id="gpu">
      <h3>Choose your gpu:</h3>
      <div th:each="hardware : ${gpu}">
        <input th:field="*{hardwares}" type="checkbox"
               th:value="${hardware.id}"/>
        <span th:text="${hardware.name}">HARDWARE</span><br/>
      </div>
      </div>

	  <div class="hardware-group" id="storage">
      <h3>Determine your storage:</h3>
      <div th:each="hardware : ${storage}">
        <input th:field="*{hardwares}" type="checkbox"
               th:value="${hardware.id}"/>
        <span th:text="${hardware.name}">HARDWARE</span><br/>
      </div>
      </div>

	  <div class="hardware-group" id="cooling">
      <h3>Select your cooling:</h3>
      <div th:each="hardware : ${cooling}">
        <input th:field="*{hardwares}" type="checkbox"
               th:value="${hardware.id}"/>
        <span th:text="${hardware.name}">HARDWARE</span><br/>
      </div>
      </div>
      </div>

      <div>


      <h3>Name your computer creation:</h3>
      <input type="text" th:field="*{name}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error</span>
      <br/>

      <button>Submit Your Computer</button>
      </div>
    </form>
  </body>
</html>